@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}

@layer components {
  .main-container {
    @apply w-full mx-auto max-w-[2520px] px-4 sm:px-2 md:px-10 xl:px-20;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-col-start {
    @apply flex flex-col;
  }

  .text-medium-small {
    @apply text-sm font-medium;
  }
  .text-bold-small {
    @apply text-sm font-bold;
  }
  .text-medium-base {
    @apply text-base font-medium;
  }
  .text-bold-base {
    @apply text-base font-bold;
  }
  .text-medium-large {
    @apply text-lg font-medium;
  }
  .text-bold-large {
    @apply text-lg font-bold;
  }
  .text-medium-extra {
    @apply text-neutral-800 font-medium text-xl;
  }
  .text-light {
    @apply text-neutral-500 font-light;
  }
  .text-light-large {
    @apply text-lg font-light text-neutral-500;
  }
  .main-search {
    @apply rounded-full shadow-sm hover:shadow-md border cursor-pointer w-full md:w-auto py-2 transition;
  }
  .user-menu {
    @apply flex-center gap-3 rounded-full border border-neutral-200 shadow-sm hover:shadow-md transition p-4 md:py-1.5 md:px-2 cursor-pointer;
  }
  .user-menu-card {
    @apply absolute top-12 right-0 py-3 rounded-xl w-[40vw] md:w-3/4 overflow-hidden border border-neutral-200 shadow-md bg-neutral-100;
  }
  .user-menu-card-item {
    @apply hover:bg-neutral-200 transition font-semibold px-4 py-3;
  }
  .modal-overlay {
    @apply justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none bg-neutral-800/70;
  }
  .modal-container {
    @apply relative w-full md:w-4/6 lg:w-3/6 xl:w-2/5 my-6 mx-auto h-full lg:h-auto md:h-auto;
  }
  .modal-content {
    @apply h-full lg:h-auto md:h-auto border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none overflow-y-auto;
  }
  .category-box {
    @apply flex flex-col justify-center items-center gap-2 cursor-pointer p-3 border-b-2 transition hover:text-neutral-800;
  }
  .category-input {
    @apply flex flex-col gap-3 cursor-pointer border-2 p-3 transition rounded-xl text-neutral-500 hover:text-neutral-800;
  }
  .grid-container {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-8 mt-10;
  }
  .upload-box {
    @apply relative cursor-pointer flex flex-col gap-3 justify-center items-center p-20 border border-dashed border-neutral-300 transition rounded-lg hover:opacity-70;
  }
}
